*:focus {
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #242424;
}

/* no scroll on the bod */
/* body::-webkit-scrollbar {
  width: 0 !important;
} */

/* all other scroll bar styles: */
/* *::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

*::-webkit-scrollbar-thumb {
  background: #7c63ee42;
} */

.App {
  font-family: sans-serif;
  text-align: center;
}

#select-box {
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 7em;
  width: 40%;
  padding: 12px;
  color: #989ba7;
  text-align: right;
  background: #2c2c2c;
  border: 1px solid#484848;
  border-left: 1.3em solid #5d38ff;
  border-radius: 4px;
}

.select-form {
  width: 95%;
  margin: 1em 1em;
  display: flex;
}

#modifier {
  width: 20%;
  height: 45px;
  background: #5d38ff;
  color: #f2f2f2;
  position: relative;
  border: 0.04em solid #74727281;
  border-radius: 5px;
  font-size: 0.7em;
}
#modifier:hover {
  background: #795df5;
  cursor: pointer;
}
#modifier:disabled {
  background: #5d38ff1f;
  color: #797676;
}

#field-input {
  cursor: text;
  border-radius: 0.25em;
  flex: 1;
}

#field-input::placeholder {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

#field-input::placeholder {
  visibility: visible;
  height: auto;
  transition: none;
}

#field-input {
  display: block; /* 🚧 keep for better scroll behavior? -- needs testing */
  padding: 1.3em 0.5em 0.5em 0.5em;
  border: none;
  background-color: rgba(0, 0, 0, 0.098);
  color: #f2f2f2;
  font-size: 1em;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#field-input {
  opacity: 1;
}

#field-input:focus {
  outline: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.253);
}

#select-list {
  text-align: left;
  max-height: 12em;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#select-list::-webkit-scrollbar {
  width: 0 !important;
}

.item {
  padding: 18px 2px 8px 8px;
  cursor: pointer;
  border-bottom: 0.7px solid #484848;
  border-radius: 0.1em;
  color: #f2f2f2;
}

.item.active {
  background: #5d38ffaf;
  border-top: 1.5px solid #f2f2f2;
}

.item:first-of-type {
  margin-top: 2em;
}
.item:last-of-type {
  margin-bottom: 1em;
}

#sheet {
  margin: 3em 1em;
  height: 80vh;
  width: 40%;
  border: 2px solid #f2f2f2;
  z-index: 0;
}
