*:focus {
  border: none;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #242424;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#select-list {
  text-align: left;
  margin: 0.5em 0.5em;
}

.item {
  padding: 18px 2px 8px 8px;
  cursor: pointer;
  border-bottom: 0.7px solid #484848;
  border-radius: 0.1em;
  color: #f2f2f2;
}

.item:last-of-type {
  margin-bottom: 1em;
}

.item.active {
  background: #5d38ffaf;
}

#sheet {
  margin: 0 auto;
  height: 100vh;
}

#select-box {
  width: 40%;
  padding: 8px;
  margin: 0 auto;
  margin: 20% auto 0 auto;
  background: #2c2c2c;
  border: 1px solid#484848;
  border-radius: 8px;
  color: #989ba7;
  text-align: right;
  border-top: 0.9em solid #5d38ff;
}

#modifier {
  width: 30%;
  height: 45px;
  background: #5d38ff;
  color: #f2f2f2;
  position: relative;
  top: -4.2em;
  z-index: 30;
  border: 0.05em solid #74727281;
  border-radius: 5px;
  font-size: 0.7em;
}

#modifier:disabled {
  background: #5d38ff1f;
}

#field-input {
  margin: 0 1em;
  position: relative;
  cursor: text;
  border-radius: 5px;
}

#field-input::placeholder {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

#field-input::placeholder {
  visibility: visible;
  height: auto;
  -webkit-transition: none;
  transition: none;
}

#field-input {
  display: block;
  margin: 0.3em 0 0 0;
  padding: 1.3em 1em 0.5em 1em;
  border: none;
  background-color: rgba(0, 0, 0, 0.098);
  color: #f2f2f2;
  font-size: 1em;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.3s;
  width: 90%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#field-input {
  opacity: 1;
}

#field-input:focus {
  outline: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.253);
}
